<div class="overflow-hidden">
  <div class="container py-5">
    <section class="row">
      <div class="col-md-7 col-lg-8 mb-3">
        <h1 class="text-decor mb-4 mb-lg-5">Klatrekurs på sommeren</h1>
        <p>Vi tilbyr klatrekurs som er skreddersydd for deltagerne. Om du ønsker å lære mer om kameratredning, sette
          naturlige sikringer og taulagsrutiner, klatreteknikk eller en kombinasjon av disse temaene så lager vi et bra
          opplegg for dette.</p>
        <p>Ta kontakt for pristilbud på et skreddersydd opplegg som passer dere.</p>
        <p>Vi tilbyr klatrekurs som er skreddersydd for deltagerne. Om du ønsker å lære mer om kameratredning, sette
          naturlige sikringer og taulagsrutiner, klatreteknikk eller en kombinasjon av disse temaene så lager vi et bra
          opplegg for dette.</p>
        <p>Ta kontakt for pristilbud på et skreddersydd opplegg som passer dere.</p>
      </div>
      <div class="col-md-5 col-lg-4 ">
        <a href="#3" class="btn btn-block rounded-0 border-2 btn-outline-primary text-uppercase font-weight-bold mb-3">
          Vinter
        </a>
        <a href="#3" class="btn btn-block rounded-0 border-2 btn-outline-primary text-uppercase font-weight-bold mb-3">
          Sommer
        </a>
        <a href="#3" class="btn btn-block rounded-0 border-2 btn-outline-primary text-uppercase font-weight-bold mb-3">
          Send foresporsel
        </a>
      </div>
    </section>
    <hr class="border-primary">

    <section class="mb-5 content-section--bg">
      <div class="text-center mt-5">
        <div class="text-uppercase h4 text-info text-decor mb-4">Vinter</div>
        <h2 class=" h1 text-decor mb-5">Velg aktivitet</h2>
      </div>

      <div class="courses__list pb-5">
        <div class="row flex-md px-1">
          <div class="col-md-4 mb-3">
            <div class="courses__item bg-white position-relative mx-n1">
              <img src="img/f3.jpg" alt="img" class="courses__item-cover object-cover position-absolute h-100 w-100">
              <a href="#3" class="courses__item-button btn btn-theme text-uppercase position-absolute rounded-0">
                Tjenester
              </a>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <div class="courses__item bg-white position-relative mx-n1">
              <img src="img/b1.jpg" alt="img" class="courses__item-cover object-cover position-absolute h-100 w-100">
              <a href="#3" class="courses__item-button btn btn-theme text-uppercase position-absolute rounded-0">
                Tjenester
              </a>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <div class="courses__item bg-white position-relative mx-n1">
              <img src="img/b1.jpg" alt="img" class="courses__item-cover object-cover position-absolute h-100 w-100">
              <a href="#3" class="courses__item-button btn btn-theme text-uppercase position-absolute rounded-0">
                Tjenester
              </a>
            </div>
          </div>
        </div>
      </div>

    </section>
    <hr class="border-primary">
    <section class="mb-5 content-section--bg">
      <div class="text-center mt-5">
        <div class="text-uppercase h4 text-info text-decor mb-4">Sommer</div>
        <h2 class=" h1 text-decor mb-5">Velg aktivitet</h2>
      </div>

      <div class="courses__list pb-5">
        <div class="row flex-md px-1">
          <div class="col-md-4 mb-3">
            <div class="courses__item bg-light position-relative mx-n1">
              <a href="#3" class="courses__item-button btn btn-theme text-uppercase position-absolute rounded-0">
                Tjenester
              </a>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <div class="courses__item bg-light position-relative mx-n1">
              <img src="img/b1.jpg" alt="img" class="courses__item-cover object-cover position-absolute h-100 w-100">
              <a href="#3" class="courses__item-button btn btn-theme text-uppercase position-absolute rounded-0">
                Tjenester
              </a>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <div class="courses__item bg-light position-relative mx-n1">
              <img src="img/b1.jpg" alt="img" class="courses__item-cover object-cover position-absolute h-100 w-100">
              <a href="#3" class="courses__item-button btn btn-theme text-uppercase position-absolute rounded-0">
                Tjenester
              </a>
            </div>
          </div>
        </div>
      </div>

    </section>
    <hr class="border-primary">

  </div>

</div>
