{% extends 'layouts/default.nunj.html' %}
{% set title = "Home page" %}

{% block content %}
  {% include '../components/Header/header.nunj.html' %}
  {% include '../components/HomePage/Hero/hero.nunj.html' %}
  {% include '../components/HomePage/Features/features.nunj.html' %}
  {% include '../components/HomePage/About/about.nunj.html' %}
  {% include '../components/HomePage/Сourses/сourses.nunj.html' %}
  {% include '../components/HomePage/Instagram/instagram.nunj.html' %}
  {% include '../components/Footer/footer.nunj.html' %}
  {% include '../components/BackToTop/backToTop.nunj.html' %}
{% endblock %}

{% block javaScript %}
{% endblock %}
