<!-- hero block -->
<section class="hero-inner position-relative d-flex flex-column items-center justify-content-center">
  <img class="hero-inner__cover object-cover position-absolute" src="img/inner-hero-bg.jpg" alt="img" />
  <div class="text-center px-3">
    <h1 class="hero-inner__title d-inline-block text-decor text-center text-white text-uppercase text-shadow position-relative border border-2 border-white px-3 py-2 mb-0 text-size-40 min-w-600">Klatrekurs sommer</h1>
  </div>
</section>
<!-- /End hero block -->

