<!-- instagram block -->
<section class="instagram pt-5">
  <div class="container mb-4">
    <h3 class="h1 text-decor text-center mb-4">Instagram</h3>
    <div class="row px-1">
      <div class="col-md-4 mb-3">
        <div class="instagram__item bg-light mx-n1 position-relative">
          <img src="https://picsum.photos/300/300"  alt="img" class="instagram__item-img object-cover position-absolute w-100 h-100">
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="instagram__item bg-light mx-n1 position-relative">
          <img src="https://picsum.photos/300/301"  alt="img" class="instagram__item-img object-cover position-absolute w-100 h-100">
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="instagram__item bg-light mx-n1 position-relative">
          <img src="https://picsum.photos/300/302"  alt="img" class="instagram__item-img object-cover position-absolute w-100 h-100">
        </div>
      </div>
    </div>
  </div>
  <hr class="border-primary">
</section>
<!-- /End instagram block -->
