<!-- about block -->
<section class="about container mb-lg-5 py-5">
  <div class="row flex">
    <div class="col-md-6 pr-md-4 order-1 order-md-0">
      <h3 class="h1 text-decor text-center mb-3">Om oss</h3>
      <p>Vi er Tore og Karin Bergbjørn og vi lever for å være på fjellet!</p>
      <p>Bergbjørn Fjellservice er vårt felles prosjekt som bunner i å skape vår egen hverdag ved å følge våre drømmer. Vi har begge røtter i Hedmark men flyttet i 2012 til Sogndal der vi bodde og jobbet i tre år. Vi har siden bodd og arbeidet et par somrer i Lofoten, forlovet oss på Stetind, bodd to år i en seilbåt på Kvaløya og de to siste årene i Signaldalen i Lyngen. Vi har nå etablert oss i Skjomen, sør for Narvik, der vi ønsker å invitere våre gjester på eventyr.</p>
      <a href="#3" class="btn btn-theme rounded-0 text-uppercase mw-230 btn-block mx-auto">Mer om oss</a>
    </div>
    <div class="col-md-6  mb-4 mb-lg-0 bg-light px-0 order-0 order-md-1">
      <img src="img/oss.jpg" class="h-100 w-100 object-cover"  alt="img">
    </div>
  </div>
</section>
<!-- /End about block -->
