<section class="container py-5">
  <h1 class="text-decor text-center mb-3">Klatrekurs på sommeren</h1>
  <div class="text-center">
    <p>Vi tilbyr klatrekurs som er skreddersydd for deltagerne. Om du ønsker å lære mer om kameratredning, sette naturlige sikringer og taulagsrutiner, klatreteknikk eller en kombinasjon av disse temaene så lager vi et bra opplegg for dette.</p>
    <p>Ta kontakt for pristilbud på et skreddersydd opplegg som passer dere.</p>
  </div>
</section>

<div class="mb-5">
<section class="content-section is-theme1">
  <img class="content-section__cover object-cover w-100" src="img/cover_kurs.jpg" alt="img">
  <div class="content-section__box is-theme1">
    <div class="container py-4">
      <div class="row">
        <div class="col-md-7 col-lg-8 mb-3">
          <h2 class="text-decor text-info font-weight-normal mb-4 text-uppercase text-size-40">3 DAGERS KILEKLATREKURS</h2>
          <time class="text-info mb-5 d-block">Datoer 2020:</time>

          <div class="text-light mb-4">
            <p>To dagers kurs der vi gjennomgår sikringsteknikker og taulagsrutiner ved klatring i fjellet. Kurset holdes i Narvik og omegn som er en av Norges flotteste plasser for klatring på naturlige sikringer.</p>
            <p>Kurset passer best for de som har prøvd klatring fra før, og kjenner til det mest grunnleggende ved klatring. Det kreves at deltagerne har kompetanse tilsvarende brattkort fra før.</p>
          </div>

          <div class="content-section__info border-top border-info border-bottom">
            <div class="content-section__info-title bg-info text-primary d-inline-block px-2 py-1 mb-4">kr 3500,- pr pers. Minimum fire deltagere.</div>
            <div class="text-14 text-light mb-4">
              <p>Ved behov for leie av personlig utstyr, blir vi enige om eventuelt tillegg i pris ved påmelding. Det er en fordel om deltagerne har tau, kortslynger og naturlige sikringsmidler i form av kiler og kamkiler, men det er ikke et krav. Hvis det skal kjøpes utstyr, kan dere ta kontakt for anbefalinger.</p>
            </div>

          </div>
        </div>
        <div class="col-md-5 col-lg-4  d-flex w-100">
          <div class="flex-grow-1 bg-info p-3 text-primary">
            <div class="border-bottom border-top border-primary pt-2 pb-3 font-weight-bold mb-4">
              Deltagerne bør ha følgende personlig klatreutstyr:
            </div>

            <div>
              <ul class="list-theme list-unstyled">
                <li>
                  klatresele
                </li>
                <li>Hjelm</li>
                <li> Taubrems m/låsekarabin</li>
                <li>Klatresko</li>
                <li>2 stk. 120 cm slynger</li>
                <li>3 stk låsekarabiner</li>
                <li>3-4 vanlige karabinere</li>
                <li>2 stk klemknuteslynger. <br>
                  (Eventuelt ta med noen meter 6 mm statisk tau, så kan vi lage).</li>
                <li>«Nøttepirker» eller «kilepirker» <br>
                  (til å hjelpe seg å ta ut kiler)</li>
              </ul>
              <a href="#3" class="btn btn-block btn-outline-primary rounded-0 border-2 text-uppercase font-weight-bold">Button</a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="content-section is-theme1">
  <img class="content-section__cover object-cover w-100" src="img/cover_kurs.jpg" alt="img">
  <div class="content-section__box is-theme2">
    <div class="container py-4">
      <div class="row">
        <div class="col-md-7 col-lg-8 mb-3">
          <h2 class="text-decor text-info font-weight-normal mb-4 text-uppercase text-size-40">FJELLKLATREKURS</h2>
          <time class="text-info mb-5 d-block">Datoer 2020:</time>

          <div class="text-light mb-4">
            <p>Seks dagers kurs der du får en grundig innføring i fjellklatring. Her starter vi med grunnleggende klatre og sikringsteknikk, først på topptau og etterhvert på led. Vi vil også gå gjennom taulagsrutiner, og naturlige sikringer på kurset. Samt planlegging, veivalg og strategi for klatreturer i fjellet. Kurset blir lagt opp etter nivået på deltagerne, og det kreves ingen erfaring med klatring for deltagelse på dette kurset.</p>
            <ul>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>+++</li>
            </ul>
          </div>

          <div class="content-section__info border-top border-info border-bottom">
            <div class="content-section__info-title bg-info text-primary d-inline-block px-2 py-1 mb-4">kr 6000,- pr pers. Minimum fire deltagere.</div>
            <div class="text-14 text-light mb-4">
              <p>Det er også mulighet for dere som har gått kurs tidligere, men ønsker en repetisjon til å melde seg på. Her er en fin arena for å øve, med veiledning underveis. Ved behov for leie av personlig utstyr, blir vi enige om eventuelt tillegg i pris ved påmelding</p>
            </div>

          </div>
        </div>
        <div class="col-md-5 col-lg-4  d-flex w-100">
          <div class="flex-grow-1 bg-info p-3 text-primary">
            <div class="border-bottom border-top border-primary pt-2 pb-3 font-weight-bold mb-4">
              Deltagerne bør ha følgende personlig klatreutstyr:
            </div>

            <div>
              <ul class="list-theme list-unstyled">
                <li>
                  klatresele
                </li>
                <li>Hjelm</li>
                <li> Taubrems m/låsekarabin</li>
                <li>Klatresko</li>
                <li>2 stk. 120 cm slynger</li>
                <li>3 stk låsekarabiner</li>
                <li>3-4 vanlige karabinere</li>
                <li>2 stk klemknuteslynger. <br>
                  (Eventuelt ta med noen meter 6 mm statisk tau, så kan vi lage).</li>
                <li>«Nøttepirker» eller «kilepirker» <br>
                  (til å hjelpe seg å ta ut kiler)</li>
              </ul>
              <a href="#3" class="btn btn-block btn-outline-primary rounded-0 border-2 text-uppercase font-weight-bold">Button</a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
<hr class="border-primary">
