<!-- features block -->
<section class="features">
  <div class="container pb-lg-4">
    <div class="row flex-md">
      <div class="col-md-4 mb-2">
        <div class="features__item position-relative mx-n1">
          <img src="img/f1.jpg"  alt="img" class="features__item-cover object-cover position-absolute h-100 w-100">
          <div class="features__item-title text-shadow h1 text-white position-absolute text-center text-decor">Klatring</div>
          <a href="#3" class="features__item-button btn btn-theme text-uppercase position-absolute rounded-0">Tjenester</a>
        </div>
      </div>
      <div class="col-md-4 mb-2">
        <div class="features__item position-relative mx-n1">
          <img src="img/f2.jpg"  alt="img" class="features__item-cover object-cover position-absolute h-100 w-100">
          <div class="features__item-title text-shadow h1 text-white position-absolute text-center text-decor">Ski</div>
          <a href="#3" class="features__item-button btn btn-theme text-uppercase position-absolute rounded-0">Tjenester</a>
        </div>
      </div>
      <div class="col-md-4 mb-2">
        <div class="features__item position-relative mx-n1">
          <img src="img/f3.jpg"  alt="img" class="features__item-cover object-cover position-absolute h-100 w-100">
          <div class="features__item-title text-shadow h1 text-white position-absolute text-center text-decor">Klatring</div>
          <a href="#3" class="features__item-button btn btn-theme text-uppercase position-absolute rounded-0">Tjenester</a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="features__content pt-5">
          <h1 class="text-decor text-center mb-3">Lorem ipsum dolor <br> consectetur adipisicing elit.</h1>
          <div class="text-center">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque dicta doloremque dolorum et illum incidunt laborum modi neque nihil non optio perferendis repudiandae, sapiente, sequi soluta temporibus vero vitae, voluptate.</p>
            <p>Lorem ipsum dolor sit amet, consectetur
              <a href="#3">LOREM</a> adipisicing elit.</p>
          </div>
        </div>
      </div>
    </div>

  </div>
  <hr>
</section>
<!-- /End features block -->
