<!-- footer block -->
<footer class="footer pt-3 pb-4">
  <div class="container">
    <div class="row pb-4">
      <div class="col-lg-3 footer__item mb-4 mb-lg-0">
        <h4 class="h4 text-decor text-uppercase">Bergbjørn<br> Fjellservice</h4>
      </div>
      <div class="col-7  col-md-4 col-lg-3  footer__item mb-4 mb-lg-0">
        <h4 class="footer__item-title mb-3">Kontakt</h4>
        <p>
          Lorem ipsum dolor sit amet, <br> consectetur adipisicing elit. Amet, facilis?
        </p>
        <p>
          <a href="#2">Facebook</a>
          <br>
          <a href="#2">Instagram</a>
        </p>
      </div>
      <div class="col-5 col-md-4 col-lg-3  footer__item mb-4 mb-lg-0">
        <h4 class="footer__item-title mb-3">Tjenester</h4>
        <ul class="list-unstyled">
          <li class="mb-1">
            <a href="#3" class="text-reset">Klatring</a>
          </li>
          <li class="mb-1">
            <a href="#3" class="text-reset">Klatring</a>
          </li>
          <li class="mb-1">
            <a href="#3" class="text-reset">Kurs</a>
          </li>
          <li class="mb-1">
            <a href="#3" class="text-reset">Stisykling</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 col-lg-3 footer__item">
        <h4 class="footer__item-title mb-3">Sertiviserte tindevegledere</h4>
        <div class="d-flex">
          <img src="img/d1.png" width="74" height="74"  alt="img" class="d-inline-flex mx-2">
          <img src="img/d2.png" width="74" height="74"  alt="img" class="d-inline-flex  mx-2">
        </div>
      </div>
    </div>
  </div>
  <hr class="mb-5">
</footer>
<!-- /End footer block -->
