<!-- courses block -->
<section class="courses position-relative py-5">
  <div class="container position-relative">
    <h2 class="courses__title text-center text-uppercase text-decor text-white text-shadow mb-4 font-weight-normal text-size-120">Kurs</h2>
    <p class="text-center text-white mb-4 mb-lg-5 pb-lg-4">
      Ønsker du å lære mer om klatring? <br>
      Vi arrangerer ulike kurs gjennom året, fra det helt grunnleggende
    </p>
    <div class="courses__list">
      <div class="row flex-md px-1 mb-5">
        <div class="col-md-4 mb-3">
          <div class="courses__item bg-white position-relative mx-n1">
            <a href="#3" class="courses__item-button btn btn-theme text-uppercase position-absolute rounded-0">Tjenester</a>
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <div class="courses__item bg-white position-relative mx-n1">
            <img src="img/b1.jpg"  alt="img" class="courses__item-cover object-cover position-absolute h-100 w-100">
            <a href="#3" class="courses__item-button btn btn-theme text-uppercase position-absolute rounded-0">Tjenester</a>
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <div class="courses__item bg-white position-relative mx-n1">
            <a href="#3" class="courses__item-button btn btn-theme text-uppercase position-absolute rounded-0">Tjenester</a>
          </div>
        </div>
      </div>
      <a href="#3" class="btn btn-theme text-uppercase btn-block rounded-0">Se alle kurs</a>
    </div>
  </div>
</section>
<!-- /End courses block -->
